.header-first
  .header-first__logo
    = link_to "#" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", class: 'header-first__logo__icon'

.main-first
  .main-first__block
    %h2.main-first__block__message
      新規会員登録
    .main-first__block__contents
      %ul.main-first__block__contents__list
        %li.main-first__block__contents__list__signup-btn--mail
          = link_to "/items/1/signup" do
            %i.icon.fa.fa-envelope 
            メールアドレスで登録する
        %li.main-first__block__contents__list__signup-btn--facebook
          = link_to "#" do
            %i.fab.fa-facebook
            Facebookで登録する
        %li.main-first__block__contents__list__signup-btn--google
          Googleで登録する
= render partial: 'footer'
