.header-first
  .header-first__logo
    = link_to "#" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", class: 'header-first__logo__icon'

.main-first
  .main-first__block
    %h2.main-first__block__message
      新規会員登録
    .main-first__block__contents
      %ul.main-first__block__contents__list
        %li.main-first__block__contents__list__signup-btn--mail
          = link_to "/items/1/signup" do
            %i.icon.fa.fa-envelope 
            メールアドレスで登録する
        %li.main-first__block__contents__list__signup-btn--facebook
          = link_to "#" do
            %i.fa.fa-facebook
            Facebookで登録する
        %li.main-first__block__contents__list__signup-btn--google
          Googleで登録する

.footer-first
  %ul.footer-first__sections
    %li.footer-first__sections__list
      = link_to "プライバシーポリシー" ,"#"
    %li.footer-first__sections__list
      = link_to "メルカリ利用規約" ,"#"
    %li.footer-first__sections__list
      = link_to "特定商取引に関する表記" ,"#"
  .footer-first__logo
    = link_to "#" do
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966', class: 'footer__logo__icon'
  %P.footer-first__data
    © 2019 Mercari
