-# 商品購入確認ページを一時的にusers#indexで作成

.item
  .item_header
    .item_header_icon
      = link_to 'https://www.mercari.com/jp/' do
        = image_tag 'http://u0u0.net/QHiY',width:'180px',class:"mercari_icon"


.buy-all-container-box
  .buy-container
    .buy-container-box
      %h2.buy-box-head 購入内容の確認
      .buy-content-box
        .buy-content-box-inner
          %h3.buy-content-box-inner-image
            = image_tag 'https://www.pakutaso.com/shared/img/thumb/elly20160701265118_TP_V.jpg',width:'180px',class:"buy-content-photo"
          %p.buy-content-name ナイキの新作スニーカー 新品 美品

          = form_with url:'https://www.mercari.com/jp/', local: true, class: 'buy-form-box' do |f|
            %p.buy-content-price-ja.bold
              ￥31,500
              %span.buy-content-fee 送料込み
            %ul.buy-content-accordion-box.not-have
              %li.buy-content-accordion-parent
                .buy-content-accordion-toggle.not-have ポイントはありません

            %ul.buy-content-price-table
              %li.buy-content-proce-row.bold
                .buy-content-price-cel 支払い金額
                .buy-content-price-cel
                  %span
                    ￥31,500

            %p.buy-error-text 配送先と支払い方法の入力を完了してください。
            = f.button '購入する', class:'button-default button-red bold', disabled: true
            = f.submit '', name:nil, value: nil, type: 'hidden', id: 'user_info_not_complete'

        .buy-content.buy-user-info
          .buy-content-box-inner
            %h3 配送先
            %adress.buy-user-info-details
              〒１２３−４５６７
              %br 大阪府大阪市
              大阪 太郎
              
            =link_to 'https://www.mercari.com/jp/', class: 'buy-user-info-fix' do
              %span 
                変更する
                %i.fas.fa-chevron-right

        .buy-content.buy-user-info
          .buy-content-box-inner
            %h3 支払い方法
            %p
              %br /

            %figure
              %p
            =link_to 'https://www.mercari.com/jp/', class: 'buy-user-info-fix' do
              %span 
                変更する
                %i.fas.fa-chevron-right

.item_bottom
  %p.item_bottom_top
    = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/" 
    = link_to 'メルカリ利用規約',"https://www.mercari.com/jp/tos/"
    = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
  = link_to "https://www.mercari.com/jp/" do
    = image_tag 'http://u0u0.net/YHVI',width:'80px',class:"item_bottom_icon"
  %p.item_bottom_last © 2019 Mercari