= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|  
  .header-first
    .header-first__logo
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", class: 'header-first__logo__icon'

  .main-login
    .main-login__block
      %p.main-login__block__message
        アカウントをお持ちでない方はこちら
      .main-login__block__signup-btn
        = link_to "新規会員登録",signup2_signup_index_path,class:"link-white"
    .main-login__contents
      .main-login__contents__block
        %ul.main-login__contents__block__list
          %li.main-login__contents__block__list__signup-btn--facebook
            = link_to "user_omniauth_authorize_path(:facebook)" do
              %i.fab.fa-facebook-square
              Facebookで登録する
          %li.main-login__contents__block__list__signup-btn--google
            Googleで登録する
      .main-login__contents__container
        .main-login__contents__container__form
          = f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"メールアドレス",class:"input-form"
        .main-login__contents__container__form
          = f.password_field :password, autocomplete: "current-password" ,placeholder:"パスワード",class:"input-form"
        .main-login__contents__container__authentication
          .main-login__contents__container__authentication__white-box
          %p.main-login__contents__container__authentication__text
            私はロボットではありません。
          .main-login__contents__container__authentication__icon
            .main-login__contents__container__authentication__icon__image
            %p.main-login__contents__container__authentication__icon__name
              reCAPTCHA
          .main-login__contents__container__authentication__link-block
            = link_to "プライバシー", "https://www.google.com/intl/ja/policies/privacy/" ,class:'link-gray'
            %span.link-gray
              -
            = link_to "利用規約","https://www.google.com/intl/ja/policies/terms/" ,class:'link-gray'
        %input.main-login__contents__container__red-btn{type:"submit",value:"ログイン"}
        .main-login__contents__container__text
          = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/", class:"link-return"
  .footer-first
    %ul.footer-first__sections
      %li.footer-first__sections__list
        = link_to "プライバシーポリシー" ,"#"
      %li.footer-first__sections__list
        = link_to "メルカリ利用規約" ,"#"
      %li.footer-first__sections__list
        = link_to "特定商取引に関する表記" ,"#"
    .footer-first__logo
      = link_to "#" do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966', class: 'footer__logo__icon'
    %P.footer-first__data
      © 2019 Mercari
