%ul.pc-header-box-lower__left-parent-wrap
  %li.pc-header-box-lower__left-parent
    = link_to "レディース", "https://www.mercari.com/jp/", class: ""
    %ul.pc-header-box-lower__left-child-wrap
      %li.pc-header-box-lower__left-children
        = link_to "トップス", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(半袖/袖なし)", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(半袖/袖なし)", "https://www.mercari.com/jp/", class: ""

      %li.pc-header-box-lower__left-children
        = link_to "ジャケット/アウター", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(七分/長袖)", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "ノーカラージャケット", "https://www.mercari.com/jp/", class: ""


  %li.pc-header-box-lower__left-parent
    = link_to "メンズ", "https://www.mercari.com/jp/", class: ""
    %ul.pc-header-box-lower__left-child-wrap
      %li.pc-header-box-lower__left-children
        = link_to "トップス", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(半袖/袖なし)", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(七分/長袖)", "https://www.mercari.com/jp/", class: ""

      %li.pc-header-box-lower__left-children
        = link_to "ジャケット/アウター", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "Tシャツ/カットソー(七分/長袖)", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "ノーカラージャケット", "https://www.mercari.com/jp/", class: ""

  %li.pc-header-box-lower__left-parent
    = link_to "ベビー・キッズ", "https://www.mercari.com/jp/", class: ""
    %ul.pc-header-box-lower__left-child-wrap
      %li.pc-header-box-lower__left-children
        = link_to "ベビー服(女の子用)~95cm", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "トップス", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "アウター", "https://www.mercari.com/jp/", class: ""

      %li.pc-header-box-lower__left-children
        = link_to "ベビー服(男の子用)~95cm", "https://www.mercari.com/jp/", class: ""
        %ul.pc-header-box-lower__left-grand-child-wrap
          %li.pc-header-box-lower__left-grand-children
            = link_to "トップス", "https://www.mercari.com/jp/", class: ""
          %li.pc-header-box-lower__left-grand-children
            = link_to "アウター", "https://www.mercari.com/jp/", class: ""

