.pc-header-box-lower
  .pc-header-box-lower__left
    %li
      %h2
        = link_to "", "https://www.mercari.com/jp/category/", class: "pc-header-lower__left list-parent"
        %i
          = fa_icon "list-ul"
        %span カテゴリーから探す
        = render partial: 'items/category'

    %li
      %h2
        = link_to "", "https://www.mercari.com/jp/category/", class: "pc-header-lower list-brand"
        %i
          = fa_icon "tag"
        %span ブランドから探す
        = render partial: 'items/brand'

  .pc-header-box-lower__right
    %ul.pc-header-box-lower__right-login-nav
      - if user_signed_in?
        .gomypage
          =link_to mypage_path do
            = image_tag "https://stat.ameba.jp/user_images/20131208/09/tamamorijp/00/00/j/o0480048012773923150.jpg?caw=800", width: '32px'
            %span マイページ
        .todo
          - if current_user.try(:admin?)
            =link_to "/admin" do
              = content_tag(:i, '', class: 'far fa-address-card fa-lg')
              %span 管理画面
          - else
            =link_to mypage_path do
              = content_tag(:i, '', class: 'fas fa-check fa-lg')
              %span やることリスト
        .info
          =link_to mypage_path do
            = content_tag(:i, '', class: 'far fa-bell fa-lg')
            %span お知らせ
        .good
          =link_to mypage_path do
            = content_tag(:i, '', class: 'far fa-heart fa-lg')
            %span いいね!一覧
      - else
        %li.signup-box
          = link_to "新規会員登録", new_user_registration_path, class: "sp-header-btn header-signup"
        %li.login-box
          = link_to "ログイン", new_user_session_path, class: "sp-header-btn header-login"
    
