%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      = "#{Category.category_name(0)} 新着アイテム"
  .pickup__contents-items
    =render @items_lady
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      = "#{Category.category_name(1)} 新着アイテム"
  .pickup__contents-items
    =render @items_man
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      = "#{Category.category_name(2)} 新着アイテム"
  .pickup__contents-items
    =render @items_baby
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      = "#{Category.category_name(3)} 新着アイテム"
  .pickup__contents-items
    =render @items_cos
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る
