%section.item-box
  =link_to "/item/#{item.id}" do
    %figure.item-box__image
      = image_tag item.images.first.image.url
    .item-box__body
      %h3.item-box__body-name
        = item.name
      .item-box__body-num
        .item-box__body-num-price
          = item.price
        .item-box__body-num-like  
          = fa_icon "heart-o", class: "icon"
          %span 10
