.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300
.item-search-center_right_show-box
  =link_to "",root_path
  = image_tag "https://www.pakutaso.com/shared/img/thumb/KAZUKIhgfdrfgh_TP_V.jpg"
  .item-search-center_right_show-box-detail
    .item_name
      %h3 色々なものをかき集めましたよ色々なものをかき集めましたよ色々なものをかき集めましたよ
    %p ¥300