.item
  .item_header
    .item_header_icon
      = link_to '/' do
        = image_tag 'http://u0u0.net/QHiY',width:'180px',class:"mercari_icon"
  .item_main
    .item_main_center
      = form_tag("/items/#{@item.id}", method: :put, multipart: true) do 
        .item_main_center-cell1.js-parent-category{ 'data-category': @category_parent.name }
          %h2 商品の情報を入力
        .item_main_center-cell2.js-children-category{ 'data-category': @category_children.name }
          .item_main_center-cell2-center.js-grand-children-category{ 'data-category': @category_grandchildren.name }
            %ul
              %li.left 出品画像
              %li.right_hissu 必須
            %p 最大10枚までアップロードできます
            .drag.js-update-img{'data-img': @images}
              .drag_over
                .drag_center
                  %p ドラッグアンドドロップ
                  %p またはクリックしてファイルをアップロード
              %input{type:"file", class:"file",accept:".jpg,.gif,.png,image/jpeg,image/png",required:"true"}
              
              .drag_over2
                .drag_center2
                  %p ドラッグアンドドロップ
                  %p またはクリックしてファイルをアップロード
        .item_main_center-cell3
          .item_main_center-cell3-center
            .item_main_center-cell3-center_top
              %ul
                %li.left 商品名
                %li.right_hissu 必須
              %input{name:"item_name", placeholder:"商品名（必須40文字まで）", value: @item.name, required:"true"}
            .item_main_center-cell3-center_bottom
              %ul
                %li.left 商品の説明
                %li.right_hissu 必須
              %textarea{name:"item_description",rows:"5",placeholder:"商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", required:"true"}= @item.description
        
        
        .item_main_center-cell4
          .item_main_center-cell4-left
            %h5 商品の詳細
          .item_main_center-cell4-right
            = render "editCategory", locals: {category: @category}



            .item_main_center-cell4-right_selectSize.js-item-size{ 'data-size': @item.size }
              %ul
                %li.left サイズ
                %li.right_hissu 必須
              %select{class:"default",name:"item_size", value: @item.size}
                %option{value:"---"} ---
                %option{value:"XXS以下"}XXS以下
                %option{value:"XS(SS)"}XS(SS)
                %option{value:"S"}S
                %option{value:"M"}M
                %option{value:"L"}L
                %option{value:"XL(LL)"}XL(LL)
                %option{value:"2XL(3L)"}2XL(3L)
                %option{value:"3XL(4L)"}3XL(4L)
                %option{value:"4XL(5L)以上"}4XL(5L)以上
                %option{value:"FREE SIZE"}FREE SIZE
              %i.fa.fa-chevron-down

            .item_main_center-cell4-right_selectBrand
              %ul
                %li.left ブランド
                %li.right_nini 任意
              %input{placeholder:"例）シャネル",name:"item_brand", value: @item.brand}

            .item_main_center-cell4-right_selectBox.js-item-condition{ 'data-condition': @item.condition }
              %ul
                %li.left 商品の状態
                %li.right_hissu 必須
              %select{class:"default",name:"item_condition",required:"true"}
                %option{value:"---"} ---
                %option{value:"新品、未使用"}新品、未使用
                %option{value:"未使用に近い"}未使用に近い
                %option{value:"目立った傷や汚れなし"}目立った傷や汚れなし
                %option{value:"やや傷や汚れなし"}やや傷や汚れなし
                %option{value:"傷や汚れあり"}傷や汚れあり
                %option{value:"全体的に状態が悪い"}全体的に状態が悪い
              %i.fa.fa-chevron-down
              
        .item_main_center-cell5
          .item_main_center-cell5-left
            %h5 配送について
            = link_to '?',"http://urx.space/W3Wr" 
          .item_main_center-cell5-right
            .item_main_center-cell5-right_select1.select1.js-item-deliveryfee{ 'data-deliveryfee': @item.deliveryfee }
              %ul
                %li.left 配送料の負担
                %li.right_hissu 必須
              %select{id:'drive',class:"default",name:"item_deliveryfee",required:"true"}
                %option{value:"---"} ---
                %option{value:"送料込み(出品者負担)"}送料込み(出品者負担)
                %option{value:"着払い(購入者負担)"}着払い(購入者負担)
              %i.fa.fa-chevron-down
            .item_main_center-cell5-right_selectBox.driveWay.js-item-deliveryway{ 'data-deliveryWay': @item.deliveryWay }
              %ul
                %li.left 発送の方法
                %li.right_hissu 必須
              %select{class:"default",name:"item_deliveryWay"}
                %option{value:"---"} ---
                %option{value:"未定"}未定
                %option{value:"らくらくメルカリ便"}らくらくメルカリ便
                %option{value:"ゆうメール"}ゆうメール
                %option{value:"レターパック"}レターパック
                %option{value:"普通郵便(定形、定形外)"}普通郵便(定形、定形外)
                %option{value:"クロネコヤマト"}クロネコヤマト
                %option{value:"ゆうパック"}ゆうパック
                %option{value:"クリックポスト"}クリックポスト
                %option{value:"ゆうポケット"}ゆうポケット
              %i.fa.fa-chevron-down
            .item_main_center-cell5-right_selectBox.js-item-area{ 'data-deliveryWay': @item.area }
              %ul
                %li.left 発送元の地域
                %li.right_hissu 必須
              %select{class:"default",name:"item_area",required:"true"}
                %option{value:"---"} ---
                %option{value:"北海道"}北海道
                %option{value:"青森県"}青森県
                %option{value:"岩手県"}岩手県
                %option{value:"宮城県"}宮城県
                %option{value:"秋田県"}秋田県
                %option{value:"山形県"}山形県
                %option{value:"福島県"}福島県
                %option{value:"茨城県"}茨城県
                %option{value:"栃木県"}栃木県
                %option{value:"群馬県"}群馬県
                %option{value:"埼玉県"}埼玉県
                %option{value:"千葉県"}千葉県
                %option{value:"東京都"}東京都
                %option{value:"神奈川県"}神奈川県
                %option{value:"新潟県"}新潟県
                %option{value:"富山県"}富山県
                %option{value:"石川県"}石川県
                %option{value:"福井県"}福井県
                %option{value:"山梨県"}山梨県
                %option{value:"長野県"}長野県
                %option{value:"岐阜県"}岐阜県
                %option{value:"静岡県"}静岡県
                %option{value:"愛知県"}愛知県
                %option{value:"三重県"}三重県
                %option{value:"滋賀県"}滋賀県
                %option{value:"京都府"}京都府
                %option{value:"大阪府"}大阪府
                %option{value:"兵庫県"}兵庫県
                %option{value:"奈良県"}奈良県
                %option{value:"和歌山県"}和歌山県
                %option{value:"鳥取県"}鳥取県
                %option{value:"島根県"}島根県
                %option{value:"岡山県"}岡山県
                %option{value:"広島県"}広島県
                %option{value:"山口県"}山口県
                %option{value:"徳島県"}徳島県
                %option{value:"香川県"}香川県
                %option{value:"愛媛県"}愛媛県
                %option{value:"高知県"}高知県
                %option{value:"福岡県"}福岡県
                %option{value:"佐賀県"}佐賀県
                %option{value:"長崎県"}長崎県
                %option{value:"熊本県"}熊本県
                %option{value:"大分県"}大分県
                %option{value:"宮崎県"}宮崎県
                %option{value:"鹿児島県"}鹿児島県
                %option{value:"沖縄県"}沖縄県
                %option{value:"未定"}未定
              %i.fa.fa-chevron-down

            .item_main_center-cell5-right_selectBox.js-item-ship{ 'data-days_to_ship': @item.days_to_ship }
              %ul
                %li.left 発送までの日数
                %li.right_hissu 必須
              %select{class:"default",name:"item_days_to_ship",required:"true"}
                %option{value:"---"} ---
                %option{value:"１〜２日で発送"}１〜２日で発送
                %option{value:"２〜３日で発送"}２〜３日で発送
                %option{value:"４〜７日で発送"}４〜７日で発送
              %i.fa.fa-chevron-down

        .item_main_center-cell6
          .item_main_center-cell6-center
            .item_main_center-cell6-center_left
              %h5 販売価格(300〜9,999,999)
              = link_to '?',"http://urx.space/W3Wr"
            .item_main_center-cell6-center_right
              .item_main_center-cell6-center_right_top
                %ul
                  %li.left 価格
                  %li.left.right_hissu 必須
                  %input{name:"item_price",placeholder:"例）300",id:"price", value: @item.price, required:"true",type:"number",min:"300",max:"9999999"}
                  %li.right ¥
              .item_main_center-cell6-center_right_main
                .left 販売手数料(10%)
                - num = @item.price*0.1
                #rightUp=num.round()
              .item_main_center-cell6-center_right_bottom
                .left 販売利益
                %h2#rightDown=(@item.price-num).round()
        
        .item_main_center-cell7
          .item_main_center-cell7-center
            %p
              = link_to '禁止されている出品',"https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
              、
              = link_to '行為',"https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売',"https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to '加盟店規約',"https://www.mercari.com/jp/seller_terms/"
              に同意したことになります。
            %input{type:"submit",value:"変更する",class:"go"}
            %input{type:"button",value:"もどる",onclick:"history.back()",class:"back"}
  .item_bottom
    %p.item_bottom_top
      = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/" 
      = link_to 'メルカリ利用規約',"https://www.mercari.com/jp/tos/"
      = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
    = link_to new_item_path do
      = image_tag 'http://u0u0.net/YHVI',width:'80px',class:"item_bottom_icon"
    %p.item_bottom_last © 2019 Mercari
