.pc-header
  .pc-header-box
    .pc-header-box-upper
      %a
        %img{src:"https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2921618501", alt: "mercari_icon", width:"134", height: "36"}/
      .pc-header-box-upper__field--right
        %input.product-form__input{placeholder: "何かお探しですか？", type: "text"}/
        %i.pc-header-box-upper__field--right__search
          = fa_icon "search"

    .pc-header-box-lower
      .pc-header-box-lower__left
        %li
          %h2
            %a{href: "https://www.mercari.com/jp/category/", class: "pc-header-lower list-parent"}
              %i
                = fa_icon "list-ul"
              %span カテゴリーから探す
          -# %ul.pc-header-box-lower__left-parent-wrap
          -#   %h3
          -#     非同期
          -#   %li.pc-header-box-lower__left-parent
          -#     %h3
          -#       実装中

        %li
          %h2
            %a{href: "https://www.mercari.com/jp/category/", class: "pc-header-lower list-parent"}
            %i
              = fa_icon "tag"
            %span ブランドから探す

      .pc-header-box-lower__right
        %ul.pc-header-box-lower__right-login-nav
          %p.signup-box
            %a{href: "https://www.mercari.com/jp/signup/", class: "sp-header-btn header-signup"}新規会員登録
          %p.login-box
            %a{href: "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F", class: "sp-header-btn header-login"}ログイン
          
= render partial: 'main'

.footer
  .footer_top
    .footer_top_center
      .footer_top_center-left
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード
        .footer_top_center-left-icon
          %li
            = image_tag 'mercari_icon.png',width: '68px',class:"mercari_icon"
            %a{href:"http://urx2.nu/gBv0"}
              = image_tag 'http://urx2.nu/T4Pd',class:"apple_google"
            %a{href:"http://urx2.nu/0CyU"}
              = image_tag 'http://urx2.nu/RlpH',class:"apple_google"
      = image_tag 'mercari_foot.png', class: 'footer_top_center-image'
  .footer_bottom
    .footer_bottom_main.clearfix
      .footer_bottom_main-cell
        %h2 メルカリについて
        %ul
          %li 
            = link_to'会社概要（運営会社）','https://about.mercari.com/',class:"list"
          %li 
            = link_to '採用情報', 'https://careers.mercari.com/',class:"list"
          %li 
            = link_to 'プレスリリース', 'https://about.mercari.com/press/news/',class:"list"
          %li 
            = link_to '公式ブログ', 'https://jp-news.mercari.com/',class:"list"
          %li 
            = link_to 'メルカリロゴ利用ガイドライン', 'https://www.mercari.com/jp/logo-guidelines/',class:"list"
        .footer_bottom_main-cell-icon
          = link_to(content_tag(:i, '', class: 'fa fa-twitter fa-2x'), "https://twitter.com/mercari_jp")
          = link_to(content_tag(:i, '', class: 'fa fa-facebook-square fa-2x'), "https://www.facebook.com/mercarijp")
      .footer_bottom_main-cell
        %h2 ヘルプ＆ガイド
        %ul
          %li 
            = link_to'メルカリガイド','https://about.mercari.com/',class:"list"
          %li 
            = link_to'らくらくメルカリ便','https://about.mercari.com/',class:"list"
          %li 
            = link_to'ゆうゆうメルカリ便','https://about.mercari.com/',class:"list"
          %li 
            = link_to'大型メルカリ便','https://about.mercari.com/',class:"list"
          %li 
            = link_to'車体取引ガイド','https://about.mercari.com/',class:"list"
          %li 
            = link_to'メルカリあんしん・あんぜん宣言！','https://about.mercari.com/',class:"list"
          %li 
            = link_to'偽ブランド品撲滅への取り組み','https://about.mercari.com/',class:"list"
          %li 
            = link_to'メルカリボックス','https://about.mercari.com/',class:"list"
      .footer_bottom_main-cell 
        %h2 プライバシーと利用規約 
        %ul
          %li 
            = link_to'プライバシーポリシー','https://about.mercari.com/',class:"list"
          %li 
            = link_to'メルカリ利用規約','https://about.mercari.com/',class:"list"
          %li 
            = link_to'あんしんスマホサポート制度に関する利用規約','https://about.mercari.com/',class:"list"
          %li 
            = link_to'コンプライアンスポリシー','https://about.mercari.com/',class:"list"       
      .footer_bottom_main-cell
        %h2 &ensp;
        %ul
          %li 
            = link_to'個人データの安全管理に係る基本方針','https://about.mercari.com/',class:"list"
          %li 
            = link_to'特定商取引に関する表記','https://about.mercari.com/',class:"list"
          %li 
            = link_to'資金決済法に基づく表示','https://about.mercari.com/',class:"list"
          %li 
            = link_to'法令遵守と犯罪抑止のために','https://about.mercari.com/',class:"list"
          %li 
            = link_to'返品・返金ポリシー','https://about.mercari.com/',class:"list"        
      .footer_bottom_main-cell
        %h2 国
        %ul
          %li 
            = link_to'日本','https://about.mercari.com/',class:"list"        
          %li 
            = link_to'United States','https://about.mercari.com/',class:"list"        

    .footer_bottom_bottom
      %a{href:"https://www.mercari.com/jp/"}
        = image_tag 'http://urx2.nu/WUUf',class:"mercari"
      %p © 2019 Mercari

