= render partial: 'header'
.item-search
  .item-search-center
    .item-search-center_left
      %i.fa.fa-chevron-down.order
      = search_form_for @search, url: search_items_path ,html: { method: :get } do |e|
        = e.select( :sorts,{ '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )
        = e.hidden_field :name_cont,value:"#{params[:q]["name_cont"]}"
      -#   %option いいね！の多い順
      = search_form_for @search, url: search_items_path ,html: { method: :get } do |d|
        .item-search-center_left_detail
          %h3 詳細検索
          .item-search-center_left_detail-keyword
            %i.fas.fa-plus
            %span キーワードを追加する
            = d.text_field :name_cont,placeholder:"例）値下げ",autocomplete:"off"
          .item-search-center_left_detail-category
            %i.fas.fa-list-ul
            %span カテゴリーを選択する
            %i.fa.fa-chevron-down.category
            %select
              %option すべて
              - Categoryall.where(ancestors:"null").each do |cate1|
                %option #{cate1.name}
              -# %option レディース
              -# %option メンズ
              -# %option ベビー・キッズ
              -# %option インテリア・住まい・小物
              -# %option 本・音楽・ゲーム
              -# %option おもちゃ・ホビー・グッズ
              -# %option コスメ・香水・美容
              -# %option 家電・スマホ・カメラ
              -# %option スポーツ・レジャー
              -# %option ハンドメイド
              -# %option チケット
              -# %option 自転車・オートバイ
              -# %option その他
          .item-search-center_left_detail-bland
            %i.fas.fa-tag
            %span ブランド名から探す
            = d.text_field :brand,placeholder:"例）シャネル",autocomplete:"off"
          .item-search-center_left_detail-size
            %i.fas.fa-expand
            %span サイズを指定する
            %i.fa.fa-chevron-down.size
            %select
              %option すべて
              %option 洋服のサイズ
              %option メンズ靴のサイズ
              %option レディース靴のサイズ
              %option スカートのサイズ
              %option キッズ服のサイズ
              %option ベビー・キッズ靴のサイズ
              %option ベビー服のサイズ
              %option テレビのサイズ
              %option カメラレンズのサイズ
              %option オートバイのサイズ
              %option ヘルメットのサイズ
              %option タイヤのサイズ
              %option スキーのサイズ
              %option スノーボードのサイズ
          .item-search-center_left_detail-price
            %i.fas.fa-coins
            %span 価格
            %i.fa.fa-chevron-down.size
            %select#select_price
              %option{value:"1"} 選択してください
              %option{value:"2"} 300 ~ 1000
              %option{value:"3"} 1000 ~ 5000
              %option{value:"4"} 5000 ~ 10000
              %option{value:"5"} 10000 ~ 30000
              %option{value:"6"} 30000 ~ 50000
              %option{value:"7"} 50000 ~
            %input{placeholder:"¥ Min",name:"priceMin"}
            %span &nbsp;~&nbsp;
            %input{placeholder:"¥ Max",name:"priceMax"}
          .item-search-center_left_detail-condition
            %i.fas.fa-star
            %span 商品の状態
            .condition_check
              %ul
                %li
                  %input{type:"checkbox",class:"conditionAll"}
                  %span すべて
                #conditionCheck
                  %li 
                    %input{type:"checkbox",name:"condition[]",value:"新品、未使用"}
                    %span 新品、未使用
                  %li
                    %input{type:"checkbox",name:"condition[]",value:"未使用に近い"}
                    %span 未使用に近い
                  %li 
                    %input{type:"checkbox",name:"condition[]",value:"目立った傷や汚れなし"}
                    %span 目立った傷や汚れなし
                  %li
                    %input{type:"checkbox",name:"condition[]",value:"やや傷や汚れ汚れあり"}
                    %span やや傷や汚れ汚れあり
                  %li 
                    %input{type:"checkbox",name:"condition[]",value:"傷や汚れあり"}
                    %span 傷や汚れあり
                  %li 
                    %input{type:"checkbox",name:"condition[]",value:"全体的に状態が悪い"}
                    %span 全体的に状態が悪い
          .item-search-center_left_detail-deriveryfee
            %i.fas.fa-truck-moving
            %span 配送料の負担
            .deriveryfee_check
              %ul
                %li
                  %input{type:"checkbox",class:"deriveryfeeAll"}
                  %span すべて
                #deriveryfeeCheck
                  %li 
                    %input{type:"checkbox",name:"deriveryfee[]",value:"着払い(購入者負担)"}
                    %span 着払い(購入者負担)
                  %li
                    %input{type:"checkbox",name:"deriveryfee[]",value:"送料込み(出品者負担)"}
                    %span 送料込み(出品者負担)
          .item-search-center_left_detail-situation
            %i.fas.fa-shopping-cart
            %span 販売状況
            .situation_check
              %ul
                %li
                  %input{type:"checkbox",class:"situationAll"}
                  %span すべて
                #situationCheck
                  %li 
                    %input{type:"checkbox",name:"situation[]",value:"販売中"}
                    %span 販売中
                  %li
                    %input{type:"checkbox",name:"situation[]",value:"売り切れ"}
                    %span 売り切れ
          .item-search-center_left_detail-button
            %button{type:"reset",class:"reset_button"}クリア
            %button{type:"submit",class:"submit_button"}完了
    .item-search-center_right
      - if params[:q]["name_cont"] != ""
        %h2.word 
          = params[:q]["name_cont"]
        %span の検索結果
        - if @search_item.length() != 0
          - if @search_count <= 100
            %p.match 1 - #{@search_count}件表示
          - else 
            - if @search_page == 1
              %p.match 1 - 100件表示
            - else
              - if @search_count <= 100*@search_page
                %p.match #{100*(@search_page-1)} - #{@search_count}件表示
              - else
                %p.match #{100*(@search_page-1)} - #{100*@search_page}件表示
        - else
          %p.nomatch 該当する商品が見つかりません。検索条件を変えて、再度お試しください。
      -else
        %h2.noword 新着情報
      .item-search-center_right_show
        = render partial: 'search_item'
      = paginate @search_item
- if params[:q]["name_cont"] != ""
  .show_pankuzu
    - breadcrumb :item_search
    = breadcrumbs  separator: " 　&rsaquo;　 "
- else
  .show_pankuzu
    - breadcrumb :item_search
    = breadcrumbs  separator: ""
= render partial: 'footer'