%section.item-details-box
  %h1.item-name
    商品名
  %p
    NIKEはあああああさんから出品されました
  .item-main-details
    .item-main-details-photo
    %table.item-main-details-table
      %tr
        %th
          出品者
          %td
            %a
              商品出品者の名前
            .item-ratings
              %i
                = fa_icon "icon-good"
              .item-ratings
              %i
                = fa_icon "icon-nomal"
              .item-ratings
              %i
                = fa_icon "icon-bad"
      %tr
        %th
          出品者
          %td
            %a
              商品出品者の名前
            %div
              .item-ratings
              %i
                = fa_icon "icon-good"
              .item-ratings
              %i
                = fa_icon "icon-nomal"
              .item-ratings
              %i
                = fa_icon "icon-bad"

  
  .item-price-box
    %span.item-price
      ¥ 14,099
    %span.item-tax
      (税込)
    %span.item-shipping-fee
      送料込み

  %a{href: "", class: "item-buy-button"}
    購入画面に進む

  .item-sentence
    %p.item-sentence-inner
      ご覧いただきありがとうございます。
      あああああああ

  .item-buttons-box
    .item-button-left
    .item-button-right
  



%ul.item-link-prev-next

.social-media-link-box
  .social-media-box



.user-profiling-items
  %section.item-box-user-related

  %section.item-box-brand-related

