%section.item-details-box
  %h1.item-name
    商品名
  %p
    NIKEはあああああさんから出品されました
  .item-main-details
    .item-main-details-photo
      .item-carousel
        .item-carousel-hidden
        
        .item-photo-main
          .item-photo-sub
    %table.item-main-details-table
      %tr
        %th
          出品者
          %td
            %a
              商品出品者の名前
              %i.item-ratings
                = fa_icon "icon-good"
              
              %i.item-ratings
                = fa_icon "icon-nomal"
              
              %i.item-ratings
                = fa_icon "icon-bad"
      %tr
        %th
          カテゴリー
          %td
            %a
              .subcayegoryスポーツ・レジャー
            %a
              .subcayegory
              サッカー/フットサル
            %a
              .subcayegory
              シューズ

      %tr
        %th
          ブランド
          %td
            %a{href:"https://www.mercari.com/jp/brand/857/"}
              %div ナイキ

      %tr
        %th
          商品の状態
          %td
            %a
              未使用に近い
      %tr
        %th
          配送料の負担
          %td
            %a
              送料込み（出品者負担）
      %tr
        %th
          配送の方法
          %td
            %a
              らくらくメルカリ便
      %tr
        %th
          配送元地域
          %td
            %a
              大阪府
      %tr
        %th
          配送の目安
          %td
            %a
              1-2日で発送



  
  .item-price-box
    %span.item-price
      ¥ 14,099
    %span.item-tax
      (税込)
    %span.item-shipping-fee
      送料込み

  %a{href: "", class: "item-buy-button"}
    購入画面に進む

  .item-sentence
    %p.item-sentence-inner
      ご覧いただきありがとうございます。
      あああああああ
      いいいいいいいいいい

  .item-buttons-box
    .item-button-left
      %a{href: "", class: "item-button item-button-like"}
        %i
          = fa_icon "heart-o"
        %span いいね

      %a{href: "", class: "item-button item-button-report"}
        %i
          = fa_icon "flag-o"
        %span いいね

      %i
        = fa_icon "flag-o"

      不適切な商品の報告
    .item-button-right
  



%ul.item-link-prev-next

.social-media-link-box
  .social-media-box



.user-profiling-items
  %section.item-box-user-related

  %section.item-box-brand-related

